name: Test

on:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Load cached venv
        id: cached-poetry-deps
        uses: actions/cache@v4
        with:
          path: ./.venv
          key: venv-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Check
        run: make check

      - name: Run tests
        run: make cov_ci

      - name: Upload coverage report
        uses: codecov/codecov-action@v3
